{{asset_add('styles.css','websemantics.field_type.social::js/libraries/image-select/dist/ImageSelect.css')}}
{{asset_add('styles.css','websemantics.field_type.social::js/libraries/chosen/chosen.min.css')}}
{{asset_add('styles.css','websemantics.field_type.social::css/styles.css')}}

{{asset_add('scripts.js','websemantics.field_type.social::js/input.js')}}
{{asset_add('scripts.js','websemantics.field_type.social::js/libraries/chosen/chosen.jquery.min.js')}}
{{asset_add('scripts.js','websemantics.field_type.social::js/libraries/image-select/dist/ImageSelect.jquery.js')}}

<select class="my-select"
        name="{{ field_type.input_name }}"
        {{ field_type.required ? 'required' }}>

    {% if not field_type.required %}
        <option>{{ trans(field_type.placeholder) }}</option>
    {% endif %}

    {% for id, name in field_type.options %}
    	{% set image = "websemantics.field_type.social::img/social/" ~ id ~ ".png" %}
        <option value="{{ id }}" data-img-src='{{image_url(image)}}' {{ id == field_type.value ? 'selected' }}>{{ trans(name) }}</option>
    {% endfor %}

</select>
